version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: telenova_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: Telenova@123
      POSTGRES_DB: telenova_cdr
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: